/* File: style.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #444;
}

.animated-background {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fbc2eb, #a6c1ee);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 600px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h1 {
  font-size: 2.5em;
  color: #ff7f50;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555;
}

.image {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff7f50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #ff6347;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.popup-content h2 {
  font-size: 1.8em;
  color: #ff7f50;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #ff6347;
}

.close:hover {
  color: #ff4500;
}
